span, a {
    margin-left: 10px;
}

.actions {
    display: flex;
    max-width: 20px;    
}

.location, .folder {
    display: flex;    
    align-items: center;
}

mat-table {
    width: 80vw;
    height: 100%;   
}