<mat-table [dataSource]="folderDataSource" [trackBy]="trackByFolderId" matSort class="mat-elevation-z1">         
    <ng-container matColumnDef="folderName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Folder</mat-header-cell>
        <mat-cell *matCellDef="let folder">
            <div class="folder">
                <img class="small-Logo mat-elevation-z1" [src]="folder.logo" alt="\[logo\]" *ngIf="folder.logo">
                <a [routerLink]="['/folders', folder.folderId]">
                    {{folder.folderName}}
                </a>
            </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="folderLocation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
        <mat-cell *matCellDef="let folder">
            <apgc-flag-location [countryIsoCode]="folder.address.countryISO" [location]="folder.address.city"></apgc-flag-location>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>    
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="actions" ></mat-header-cell>
        <mat-cell *matCellDef="let folder" class="actions">                
            <button mat-icon-button 
                [routerLink]="['/folders', folder.folderId, 'edit']"
                matTooltip="Edit">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayColumns; sticky:true;"></mat-header-row>
    <mat-row  *matRowDef="let folder; columns: displayColumns;"></mat-row>
    <mat-footer-row  *matFooterRowDef="displayColumns; sticky:true;"></mat-footer-row>
</mat-table>