<div [class]="cssClass">
    <ng-template #defaultTemplate>  
        <ng-template #iconMat>
            <mat-icon>{{data.icon}}</mat-icon>
        </ng-template>        
        <ng-container *ngIf="data.icon">
            <ng-container *ngIf="data.iconFas else iconMat">
                <mat-icon class="data-icon" fontSet="fas" [fontIcon]="data.icon"></mat-icon>
            </ng-container>
        </ng-container>

        <span> {{data.message}} </span>
        <span class="apgc-flex-space"></span>
        <button *ngIf="data.action"
            mat-stroked-button
            color="accent"
            (click)="onActionClick()">
            {{data.action}}
        </button>
        <button 
            *ngIf="data.showCloseButton"
            mat-icon-button            
            (click)="close()">
            <mat-icon>close</mat-icon>
        </button>        
    </ng-template>
    <ng-container *ngTemplateOutlet="data.template ? data.template : defaultTemplate"></ng-container>
</div>