@import '../../../styles.scss';

mat-card {
    width: 70vw;
}

h2 {
    margin-left: 10px;
}

.header-card {
    @include flex(row, space-between);
}

.header-card-title {
    @include flex();
    padding-right: 10vw;
}

.col {
    @include flex(column, space-between);
}

.row {
    @include flex(row, space-between);
}

.mat-card-content-container {
    margin-top: 15px;
}

ul {
    list-style-type: none;
  }
  
ul li span {
    float: left;
    width: 80px;
}