<mat-card>
    <div class=row>                
        <img class="small-logo elevation-z1"[src]="folder.logo" alt="\[logo\]" *ngIf="folder.logo">
        <h2>{{folder.folderName}}</h2>        
        <span class="apgc-flex-space"></span>
        <button mat-icon-button matTooltip="Edit">                
            <mat-icon>edit</mat-icon>
        </button>
        <a mat-icon-button routerLink="/folders" matTooltip="Close">
            <mat-icon>close</mat-icon>
        </a>
    </div>
    <mat-card-content>        
        <div class="mat-card-content-container" *ngIf="folder.identificationNumbers?.length > 0">            
            <apgc-section-separator></apgc-section-separator>
            <h4>Identification numbers</h4>
            <ul>
                <li *ngFor="let identificationNumber of folder.identificationNumbers">                    
                    <apgc-label-field-display [fieldLabel]="identificationNumber.name" [fieldValue]="identificationNumber.identificationNumber"></apgc-label-field-display>
                </li>
            </ul>            
        </div>        
        <div class="mat-card-content-container" *ngIf="folder.address">
            <apgc-section-separator></apgc-section-separator>
            <apgc-address-display [address]="folder.address"></apgc-address-display>        
        </div>
    </mat-card-content>
</mat-card>