/* You can add global styles to this file, and also import other style files */
html, body { height: 99%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin flex($direction, $justify-content:normal, $align-items: normal){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.apgc-flex-space {
    flex: 1 1 auto;
}

.small-Logo {    
    border-radius: 50%;
    width: 32px;
    height: 32px;    
    vertical-align: middle;    
}

.full-width {
    width: 100%;
}

.spinner-loading-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;    
}