/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~flag-icon-css/css/flag-icon.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.apgc-flex-space {
    flex: 1 1 auto;
}

.small-Logo {
    border-radius: 50%;
    width: 32px;
    height: 32px;    
    vertical-align: middle;
}

.full-width {
    width: 100%;
}