@use '~@angular/material' as mat;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-row:hover {
    background-color: mat.get-color-from-palette(mat.$gray-palette, 100);         
}

.information {
    background-color: mat.get-color-from-palette(mat.$blue-palette, 100);
    color: mat.get-color-from-palette(mat.$blue-palette, 800);
}

.success {
    background-color: mat.get-color-from-palette(mat.$green-palette, 100);
    color: mat.get-color-from-palette(mat.$green-palette, 800);
}

.warning {
    background-color: mat.get-color-from-palette(mat.$orange-palette, 100);
    color: mat.get-color-from-palette(mat.$orange-palette, 800);
}

.error {
    background-color: mat.get-color-from-palette(mat.$red-palette, 100);
    color: mat.get-color-from-palette(mat.$red-palette, 800);
}

.icon-field {
    color: mat.get-color-from-palette(mat.$gray-palette, 500);
}

.label-field {
    color: mat.get-color-from-palette(mat.$gray-palette, 600);
}